<div fxLayout="row" fxLayoutAlign="center center">
  <form fxFlex="70%" fxFlex.lt-sm="100%" fxLayout="column" fxLayoutAlign="center stretch">
    <h2>Customer info</h2>
    <mat-form-field>
      <input matInput placeholder="Name" name="name">
      <mat-error>Name must be provided</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" name="email">
      <mat-error>Email must be provided</mat-error>
      <mat-error>Provided email address is not valid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Phone" name="phoneNumber">
    </mat-form-field>
    <h2>Complaint info</h2>
    <mat-form-field>
      <input matInput placeholder="Subject" name="subject">
      <mat-error>Subject must be provided</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Content" rows="2" name="content"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Image URL" name="imageSource">
      <mat-error>Provided image URL is not a valid URL</mat-error>
    </mat-form-field>
    <div fxFlexAlign="center" fxFlexAlign.lt-sm="stretch">
      <button id="submit" fxFlex [disabled]="isLoading" (click)="submitted()" mat-raised-button color="primary">
        Submit
      </button>
      <mat-spinner fxFlex="none" *ngIf="isLoading" diameter="35"></mat-spinner>
    </div>
  </form>
</div>
