<div fxLayout="row" fxLayoutAlign="center center">
  <form fxFlex="70%" fxFlex.lt-sm="100%" fxLayout="column" fxLayoutAlign="center stretch" [formGroup]="form">
    <h2>Customer info</h2>
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" name="name" [required]="form.get('name').hasError('required')">
      <mat-error>Name must be provided</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" name="email" [required]="form.get('email').hasError('required')">
      <mat-error *ngIf="form.get('email').hasError('required')">Email must be provided</mat-error>
      <mat-error *ngIf="form.get('email').hasError('email')">Provided email address is not valid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Phone" formControlName="phoneNumber" name="phoneNumber" [required]="form.get('phoneNumber').hasError('required')">
    </mat-form-field>
    <h2>Complaint info</h2>
    <mat-form-field>
      <input matInput placeholder="Subject" formControlName="subject" name="subject" #subjectInput [required]="form.get('subject').hasError('required')">
      <mat-error>Subject must be provided</mat-error>
      <mat-hint align="end">{{subjectInput.value?.length || 0}} / 30</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Content" rows="2" formControlName="content" name="content" [required]="form.get('content').hasError('required')"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Image URL" formControlName="imageSource" name="imageSource" [required]="form.get('imageSource').hasError('required')">
      <mat-error>Provided image URL is not a valid URL</mat-error>
    </mat-form-field>
    <div fxFlexAlign="start" fxFlexAlign.lt-sm="stretch">
      <button id="submit" fxFlex [disabled]="form.invalid || isLoading" (click)="submitted()" mat-raised-button color="primary">
        Submit
      </button>
      <mat-spinner fxFlex="none" *ngIf="isLoading" diameter="35"></mat-spinner>
    </div>
  </form>
</div>
